streamlit
streamlit-vis-timeline
streamlit-ace
streamlit-sortables

pandas
pyyaml
sotodlib@git+https://github.com/simonsobs/sotodlib.git@v0.6.2
schedlib @ git+https://github.com/simonsobs/scheduler.git@main
scheduler-server @ git+https://github.com/simonsobs/scheduler-server.git@main
